In [1]:
import openpyxl
import pandas as pd
import os

In [2]:
excelname='raw_data'
sheetname='data'
wb=openpyxl.load_workbook(str(excelname)+'.xlsx')
ws=wb[str(sheetname)]

In [3]:
dataset=[]
i=1
while(ws.cell(row=i,column=1).value!=None):
    row=[]
    j=1
    while(ws.cell(row=i,column=j).value!=None):
        row.append(ws.cell(row=i,column=j).value)
        j+=1
    dataset.append(row)
    i+=1

In [4]:
trade=[[0 for i in range(16)]for j in range(len(dataset))]
trade[0][0]='date'
trade[0][1]='open'
trade[0][2]='high'
trade[0][3]='low'
trade[0][4]='close'
trade[0][5]='Aroon_Up'
trade[0][6]='Aroon_Down'
trade[0][7]='Aroon_Oscillator'
trade[0][8]='buy'
trade[0][9]='hold'
trade[0][10]='sell'
trade[0][11]='number'
trade[0][12]='value'
trade[0][13]='period_return'
trade[0][14]='holding_period'
trade[0][15]='annual_return'
for i in range(1,len(trade)):
    trade[i][0]=dataset[i][0]
    trade[i][1]=dataset[i][1]
    trade[i][2]=dataset[i][2]
    trade[i][3]=dataset[i][3]
    trade[i][4]=float(dataset[i][4])

In [5]:
pd.DataFrame(trade).head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon_Up,Aroon_Down,Aroon_Oscillator,buy,hold,sell,number,value,period_return,holding_period,annual_return
1,2003/06/30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003/07/01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0

In [6]:
for i in range(3,len(trade)):
    temp = 0
    for j in range(0, 3):
        temp = temp + trade[i-j][4]*(3-j)
    trade[i][7] = temp/6

In [7]:
pd.DataFrame(trade).head(30)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon_Up,Aroon_Down,Aroon_Oscillator,buy,hold,sell,number,value,period_return,holding_period,annual_return
1,2003/06/30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003/07/01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0
3,2003/07/02,38.17,38.82,38.1,38.69,0,0,38.2083,0,0,0,0,0,0,0,0
4,2003/07/03,40.6,40.6,38.81,39,0,0,38.7383,0,0,0,0,0,0,0,0
5,2003/07/04,39.1,39.26,38.75,39.26,0,0,39.0783,0,0,0,0,0,0,0,0
6,2003/07/07,39.6,41,39.6,41,0,0,40.0867,0,0,0,0,0,0,0,0
7,2003/07/08,42,42,40.7,41.19,0,0,40.805,0,0,0,0,0,0,0,0
8,2003/07/09,41.3,41.3,40.81,41.22,0,0,41.1733,0,0,0,0,0,0,0,0
9,2003/07/10,41.2,41.2,40.05,40.05,0,0,40.63,0,0,0,0,0,0,0,0
10,2003/07/11,39.6,39.97,39.3,39.91,0,0,40.175,0,0,0,0,0,0,0,0
11,2003/07/14,39.95,41,39.92,40.66,0,0,40.3083,0,0,0,0,0,0,0,0
12,2003/07/15,40.7,40.86,40.19,40.19,0,0,40.3,0,0,0,0,0,0,0,0
13,2003/07/16,40.5,40.98,40.24,40.85,0,0,40.5983,0,0,0,0,0,0,0,0
14,2003/07/17,40.5,40.65,39.8,39.8,0,0,40.215,0,0,0,0,0,0,0,0
15,2003/07/18,39.78,39.98,39.55,39.92,0,0,40.035,0,0,0,0,0,0,0,0
16,2003/07/21,40,40.25,39.4,39.4,0,0,39.64,0,0,0,0,0,0,0,0
17,2003/07/22,39.41,39.98,39.41,39.98,0,0,39.7767,0,0,0,0,0,0,0,0
18,2003/07/23,40.3,40.5,40,40.05,0,0,39.9183,0,0,0,0,0,0,0,0
19,2003/07/24,40.2,41.23,40.2,41.23,0,0,40.6283,0,0,0,0,0,0,0,0
20,2003/07/25,41,41.34,40.85,41.23,0,0,41.0333,0,0,0,0,0,0,0,0
21,2003/07/28,41.9,41.94,41.57,41.58,0,0,41.405,0,0,0,0,0,0,0,0
22,2003/07/29,41.54,41.54,40.83,41.02,0,0,41.2417,0,0,0,0,0,0,0,0
23,2003/07/30,41,41.02,40.55,40.6,0,0,40.9033,0,0,0,0,0,0,0,0
24,2003/07/31,40.66,41,40.44,40.87,0,0,40.805,0,0,0,0,0,0,0,0
25,2003/08/01,41.28,41.6,41.05,41.6,0,0,41.19,0,0,0,0,0,0,0,0
26,2003/08/04,41.47,41.55,41.21,41.4,0,0,41.3783,0,0,0,0,0,0,0,0
27,2003/08/05,41.5,41.61,40.5,40.5,0,0,40.9833,0,0,0,0,0,0,0,0
28,2003/08/06,40.2,40.3,40.06,40.23,0,0,40.515,0,0,0,0,0,0,0,0
29,2003/08/07,40.35,40.77,39.97,40.7,0,0,40.51,0,0,0,0,0,0,0,0

In [8]:
for i in range(3, len(trade)):
    if(trade[i][7] > trade[i][4])and(trade[i-1][9]==0):
        trade[i][8] = 1
        trade[i][9] = 1
        trade[i][10] = 0
    elif(trade[i][7] < trade[i][4])and(trade[i-1][9]==1):
        trade[i][8] = 0
        trade[i][9] = 0
        trade[i][10] = 1
    elif(trade[i-1][9]>0):
        trade[i][8] = 0
        trade[i][9] = 1
        trade[i][10] = 0

In [9]:
initial=10000
for i in range(3,len(trade)):
    if(trade[i][8]==1)and(trade[i][9]==1)and(trade[i][10]==0):
        trade[i][11]=initial/trade[i][4]
        trade[i][12]=trade[i][11]*trade[i][4]
        trade[i][13]=round((trade[i][11]*trade[i][4]-initial)/initial,4)
    elif(trade[i][8]==0)and(trade[i][9]==0)and(trade[i][10]==1):
        trade[i][11]=0
        trade[i][12]=trade[i-1][11]*trade[i][4]
        trade[i][13]=round((trade[i-1][11]*trade[i][4]-initial)/initial,4)
    elif(trade[i][8]==0)and(trade[i][9]==1)and(trade[i][10]==0):
        trade[i][11]=trade[i-1][11]
        trade[i][12]=trade[i][11]*trade[i][4]
        trade[i][13]=round((trade[i][11]*trade[i][4]-initial)/initial,4)

In [10]:
pd.DataFrame(trade)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon_Up,Aroon_Down,Aroon_Oscillator,buy,hold,sell,number,value,period_return,holding_period,annual_return
1,2003/06/30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003/07/01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0
3,2003/07/02,38.17,38.82,38.1,38.69,0,0,38.2083,0,0,0,0,0,0,0,0
4,2003/07/03,40.6,40.6,38.81,39,0,0,38.7383,0,0,0,0,0,0,0,0
5,2003/07/04,39.1,39.26,38.75,39.26,0,0,39.0783,0,0,0,0,0,0,0,0
6,2003/07/07,39.6,41,39.6,41,0,0,40.0867,0,0,0,0,0,0,0,0
7,2003/07/08,42,42,40.7,41.19,0,0,40.805,0,0,0,0,0,0,0,0
8,2003/07/09,41.3,41.3,40.81,41.22,0,0,41.1733,0,0,0,0,0,0,0,0
9,2003/07/10,41.2,41.2,40.05,40.05,0,0,40.63,1,1,0,249.688,10000,0,0,0
10,2003/07/11,39.6,39.97,39.3,39.91,0,0,40.175,0,1,0,249.688,9965.04,-0.0035,0,0
11,2003/07/14,39.95,41,39.92,40.66,0,0,40.3083,0,0,1,0,10152.3,0.0152,0,0
12,2003/07/15,40.7,40.86,40.19,40.19,0,0,40.3,1,1,0,248.818,10000,0,0,0
13,2003/07/16,40.5,40.98,40.24,40.85,0,0,40.5983,0,0,1,0,10164.2,0.0164,0,0
14,2003/07/17,40.5,40.65,39.8,39.8,0,0,40.215,1,1,0,251.256,10000,0,0,0
15,2003/07/18,39.78,39.98,39.55,39.92,0,0,40.035,0,1,0,251.256,10030.2,0.003,0,0
16,2003/07/21,40,40.25,39.4,39.4,0,0,39.64,0,1,0,251.256,9899.5,-0.0101,0,0
17,2003/07/22,39.41,39.98,39.41,39.98,0,0,39.7767,0,0,1,0,10045.2,0.0045,0,0
18,2003/07/23,40.3,40.5,40,40.05,0,0,39.9183,0,0,0,0,0,0,0,0
19,2003/07/24,40.2,41.23,40.2,41.23,0,0,40.6283,0,0,0,0,0,0,0,0
20,2003/07/25,41,41.34,40.85,41.23,0,0,41.0333,0,0,0,0,0,0,0,0
21,2003/07/28,41.9,41.94,41.57,41.58,0,0,41.405,0,0,0,0,0,0,0,0
22,2003/07/29,41.54,41.54,40.83,41.02,0,0,41.2417,1,1,0,243.784,10000,0,0,0
23,2003/07/30,41,41.02,40.55,40.6,0,0,40.9033,0,1,0,243.784,9897.61,-0.0102,0,0
24,2003/07/31,40.66,41,40.44,40.87,0,0,40.805,0,0,1,0,9963.43,-0.0037,0,0
25,2003/08/01,41.28,41.6,41.05,41.6,0,0,41.19,0,0,0,0,0,0,0,0
26,2003/08/04,41.47,41.55,41.21,41.4,0,0,41.3783,0,0,0,0,0,0,0,0
27,2003/08/05,41.5,41.61,40.5,40.5,0,0,40.9833,1,1,0,246.914,10000,0,0,0
28,2003/08/06,40.2,40.3,40.06,40.23,0,0,40.515,0,1,0,246.914,9933.33,-0.0067,0,0
29,2003/08/07,40.35,40.77,39.97,40.7,0,0,40.51,0,0,1,0,10049.4,0.0049,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3398,2017/03/15,72.8,73,72.6,72.85,0,0,72.8417,0,0,0,0,0,0,0,0
3399,2017/03/16,73.3,73.85,73.3,73.8,0,0,73.35,0,0,0,0,0,0,0,0
3400,2017/03/17,73.85,74.1,73.75,74,0,0,73.7417,0,0,0,0,0,0,0,0
3401,2017/03/20,73.95,74.15,73.85,73.95,0,0,73.9417,0,0,0,0,0,0,0,0
3402,2017/03/21,74.3,74.9,74.3,74.9,0,0,74.4333,0,0,0,0,0,0,0,0
3403,2017/03/22,74.25,74.25,74,74.2,0,0,74.3917,1,1,0,134.771,10000,0,0,0
3404,2017/03/23,74.6,74.65,74.15,74.35,0,0,74.3917,0,1,0,134.771,10020.2,0.002,0,0
3405,2017/03/24,74.35,74.4,74.1,74.25,0,0,74.275,0,1,0,134.771,10006.7,0.0007,0,0
3406,2017/03/27,74,74.4,73.85,74.2,0,0,74.2417,0,1,0,134.771,10000,0,0,0
3407,2017/03/28,74.55,74.6,73.95,74.25,0,0,74.2333,0,0,1,0,10006.7,0.0007,0,0
3408,2017/03/29,74.45,74.5,74,74,0,0,74.1167,1,1,0,135.135,10000,0,0,0
3409,2017/03/30,74,74.25,73.9,73.9,0,0,73.9917,0,1,0,135.135,9986.49,-0.0014,0,0
3410,2017/03/31,73.95,74.1,73.7,73.7,0,0,73.8167,0,1,0,135.135,9959.46,-0.0041,0,0
3411,2017/04/05,73.95,74.8,73.95,74.65,0,0,74.2083,0,0,1,0,10087.8,0.0088,0,0
3412,2017/04/06,74.8,74.8,74.3,74.4,0,0,74.3667,0,0,0,0,0,0,0,0
3413,2017/04/07,74.3,74.3,73.4,74.1,0,0,74.2917,1,1,0,134.953,10000,0,0,0
3414,2017/04/10,74.1,74.25,74,74.2,0,0,74.2,0,1,0,134.953,10013.5,0.0013,0,0
3415,2017/04/11,74.1,74.4,73.75,73.9,0,0,74.0333,0,1,0,134.953,9973.01,-0.0027,0,0
3416,2017/04/12,73.9,74.1,73.65,74.05,0,0,74.025,0,0,1,0,9993.25,-0.0007,0,0
3417,2017/04/13,73.9,74.45,73.9,74.4,0,0,74.2,0,0,0,0,0,0,0,0
3418,2017/04/14,73.9,73.9,73.5,73.55,0,0,73.9167,1,1,0,135.962,10000,0,0,0
3419,2017/04/17,73.55,73.8,73.35,73.6,0,0,73.7167,0,1,0,135.962,10006.8,0.0007,0,0
3420,2017/04/18,73.85,74,73.5,73.6,0,0,73.5917,0,0,1,0,10006.8,0.0007,0,0
3421,2017/04/19,73.1,73.25,72.65,72.8,0,0,73.2,1,1,0,137.363,10000,0,0,0
3422,2017/04/20,72.55,72.9,72.5,72.8,0,0,72.9333,0,1,0,137.363,10000,0,0,0
3423,2017/04/21,73.25,73.5,73.1,73.5,0,0,73.15,0,0,1,0,10096.2,0.0096,0,0
3424,2017/04/24,73.9,73.95,73.45,73.65,0,0,73.4583,0,0,0,0,0,0,0,0
3425,2017/04/25,73.85,74.4,73.7,74.35,0,0,73.975,0,0,0,0,0,0,0,0
3426,2017/04/26,74.7,74.7,74.4,74.55,0,0,74.3333,0,0,0,0,0,0,0,0
3427,2017/04/27,74.35,74.5,74.15,74.5,0,0,74.4917,0,0,0,0,0,0,0,0

In [11]:
#import datetime             
import datetime
from datetime import date
for i in range(1,len(trade)):
    trade[i][0]=datetime.datetime.strptime(trade[i][0],'%Y/%m/%d')
#holding_period
first=0
end=0
for i in range(1,len(trade)):
    if(trade[i][8]==1):
        trade[i][14]=1
        first=trade[i][0]
    elif((trade[i][9]>0)or(trade[i][10]==1)and(trade[i][8]!=1)):
        end=trade[i][0]
        trade[i][14]=(end-first).days+1
#annual_return (holding_period)
for i in range(1,len(trade)):
    if(trade[i][14]!=0):
        trade[i][15]=(1+trade[i][13])**(365/trade[i][14])-1
#annual_return (trading)
annual_return=1
trading=0
for i in range(1,len(trade)):
    if(trade[i][10]==1):
        annual_return*=(1+trade[i][13])
        trading+=1

final_return=annual_return**(1/trading)-1

In [12]:
final_return

0.0009751470922021443